## Základný opis dát spolu s ich charakteristikami ##

### Adrian Maslak ###

Import kniznic

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

Nacitanie datasetu

In [13]:
patient = pd.read_csv('../069/patient.csv' , sep="\t")
station = pd.read_csv('../069/station.csv' , sep="\t")
observation = pd.read_csv('../069/observation.csv', sep="\t")

Basic information

In [14]:
for name, df in {'patient': patient, 'station': station, 'observation': observation}.items():
    print(f"--- {name.upper()} ---")
    display(df.info())
    display(df.head())
    display(df.describe())

--- PATIENT ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2064 entries, 0 to 2063
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   address           1754 non-null   object
 1   job               619 non-null    object
 2   ssn               2064 non-null   object
 3   name              2064 non-null   object
 4   company           2064 non-null   object
 5   blood_group       2064 non-null   object
 6   mail              2064 non-null   object
 7   username          2064 non-null   object
 8   registration      2064 non-null   object
 9   residence         0 non-null      float64
 10  current_location  1961 non-null   object
 11  user_id           2064 non-null   int64
 12  station_ID        2064 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 209.8+ KB

None

,address,job,ssn,name,company,blood_group,mail,username,registration,residence,current_location,user_id,station_ID
0,"Vale Carvalho, 75\nGuaratã\n24749298 da Rocha ...",Serralheiro,91728604303,Samuel Mendes,Garcia,A+,sophie45@uol.com.br,olivia61,"07/02/2022, 00:00:00",NaN,"(Decimal('-9.834721'), Decimal('-166.061899'))",221,438
1,"6808 Gary Lodge\nRobertfort, AZ 39881",NaN,157-43-4132,Philip Lee,Castro-Nielsen,A-,nathanhoffman@gmail.com,nicholas13,2021-03-10,NaN,"(Decimal('-58.933888'), Decimal('16.122641'))",993,138
2,Drewesring 6-2\n31689 Gotha,NaN,439-87-8316,Ercan Kreusel B.A.,Bender Kruschwitz KG,A-,lia29@web.de,ludgerpergande,2021-12-15,NaN,"(Decimal('-23.3593505'), Decimal('-103.776206'))",349,562
3,NaN,NaN,BGOTLL14R61D690T,Fabia Vento,Prodi e figli,A+,ottavio30@yahoo.com,enricotognazzi,"06/06/2020, 00:00:00",NaN,"(Decimal('72.988397'), Decimal('-123.076931'))",461,541
4,"Vicolo Morandini, 44 Piano 8\n27027, Gropello ...",NaN,SCDLSE60D12F851B,Antonino Cavanna,Lattuada Group,A-,romana82@gmail.com,borsierecarla,03 Nov 2022,NaN,"(Decimal('-60.724837'), Decimal('-65.915593'))",1405,738

       residence      user_id   station_ID
count        0.0  2064.000000  2064.000000
mean         NaN  1054.574128   410.383236
std          NaN   591.843312   240.774244
min          NaN     1.000000     0.000000
25%          NaN   533.000000   207.500000
50%          NaN  1073.500000   406.000000
75%          NaN  1570.250000   615.500000
max          NaN  2062.000000   835.000000

--- STATION ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   longitude  836 non-null    float64
 1   revision   836 non-null    object
 2   location   836 non-null    object
 3   station    836 non-null    object
 4   code       833 non-null    object
 5   latitude   836 non-null    float64
dtypes: float64(2), object(4)
memory usage: 39.3+ KB

None

,longitude,revision,location,station,code,latitude
0,20.89389,"06/28/2023, 00:00:00",Europe/Belgrade,Glogovac,XK,42.62833
1,77.24779,"03/17/2025, 00:00:00",Asia/Kolkata,Udumalaippettai,IN,10.58806
2,-6.00137,25 Nov 2023,Africa/Casablanca,Oulmes,MA,33.42585
3,120.56528,24 Jul 2023,Asia/Manila,Pilar,PH,14.66000
4,73.97117,2023/11/17,Asia/Karachi,Naushahra Virkan,PK,31.96258

        longitude    latitude
count  836.000000  836.000000
mean    12.339910   29.623084
std     75.251436   23.267027
min   -156.474320  -54.800000
25%    -65.718750   15.460630
50%     12.686340   36.138875
75%     73.971170   46.323740
max    178.004170   68.798330

--- OBSERVATION ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12042 entries, 0 to 12041
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SpO₂                   12042 non-null  float64
 1   HR                     12042 non-null  float64
 2   PI                     12042 non-null  float64
 3   RR                     12042 non-null  float64
 4   EtCO₂                  12042 non-null  float64
 5   FiO₂                   12042 non-null  float64
 6   PRV                    12042 non-null  float64
 7   BP                     12042 non-null  float64
 8   Skin Temperature       12042 non-null  float64
 9   Motion/Activity index  12042 non-null  float64
 10  PVI                    12042 non-null  float64
 11  Hb level               12042 non-null  float64
 12  SV                     12042 non-null  float64
 13  CO                     12042 non-null  float64
 14  Blood Flow Index       12042 non-null  float64
 15  PPG waveform features  12042 non-null  float64
 16  Signal Quality Index   12042 non-null  float64
 17  Respiratory effort     12042 non-null  float64
 18  O₂ extraction ratio    12042 non-null  float64
 19  SNR                    12042 non-null  float64
 20  oximetry               12042 non-null  float64
 21  latitude               12042 non-null  float64
 22  longitude              12042 non-null  float64
dtypes: float64(23)
memory usage: 2.1 MB

None

,SpO₂,HR,PI,RR,EtCO₂,FiO₂,PRV,BP,Skin Temperature,Motion/Activity index,...,CO,Blood Flow Index,PPG waveform features,Signal Quality Index,Respiratory effort,O₂ extraction ratio,SNR,oximetry,latitude,longitude
0,97.483488,69.471352,9.911564,15.329319,38.178027,60.101846,148.567376,96.208861,34.226015,11.729937,...,4.012213,34.679832,69.068760,57.483314,45.758856,0.232423,25.714366,1.0,-38.16604,145.13643
1,97.902093,80.851726,15.588303,17.275079,39.646854,75.668908,123.879495,98.137022,33.668431,10.161811,...,4.101044,54.072677,64.324605,66.263554,32.794886,0.263252,23.649392,1.0,31.92923,34.86563
2,96.752904,76.348559,8.953510,16.430277,36.947676,65.740531,108.444329,97.414632,36.068788,9.267287,...,4.044007,48.383117,63.555447,62.444904,63.341514,0.222042,30.793751,0.0,36.75965,137.36215
3,96.294252,80.987366,4.620207,16.421542,41.095814,67.512131,102.937951,97.990286,36.157136,7.918658,...,4.097704,63.089082,59.969163,32.389461,47.606476,0.249341,32.439713,0.0,51.47810,57.35520
4,96.119512,77.806695,4.241959,16.563798,40.035932,77.913631,115.771828,107.252089,36.530143,9.987053,...,4.059546,63.227829,67.475084,61.033048,33.579243,0.299835,30.603965,0.0,22.47110,88.14530

,SpO₂,HR,PI,RR,EtCO₂,FiO₂,PRV,BP,Skin Temperature,Motion/Activity index,...,CO,Blood Flow Index,PPG waveform features,Signal Quality Index,Respiratory effort,O₂ extraction ratio,SNR,oximetry,latitude,longitude
count,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000,...,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000,12042.000000
mean,97.641499,80.684540,10.350679,16.017301,39.810951,63.852123,112.540190,103.601579,35.407801,10.156686,...,4.157933,48.616437,56.548418,54.108999,44.663337,0.249533,29.976604,0.595001,29.585574,12.449216
std,0.884150,5.154740,3.156649,1.058737,1.361417,9.596359,21.068539,3.597371,0.935021,1.000020,...,0.203766,13.361324,12.664103,12.893778,12.408844,0.028935,5.758383,0.490912,23.249622,75.193635
min,95.000000,60.000000,0.200000,12.000000,35.000000,21.000000,20.000000,90.000000,33.000000,6.592031,...,4.000000,0.000000,0.000000,0.000000,0.000000,0.200000,20.000000,0.000000,-54.800000,-156.474320
25%,96.958913,77.261357,7.871266,15.201489,38.893378,57.444116,98.955842,101.188426,34.619073,9.486866,...,4.049908,39.497218,48.077373,45.208065,36.366050,0.224530,24.960973,0.000000,15.460630,-65.718750
50%,97.704643,80.683144,10.849798,16.031333,39.792951,63.851499,111.966382,103.585796,35.254164,10.160809,...,4.096731,48.430804,56.569605,54.177900,44.611802,0.249042,30.056761,1.000000,36.084970,12.700380
75%,98.369842,84.150085,12.805167,16.841962,40.736035,70.180568,125.703435,106.015339,36.222121,10.826810,...,4.188710,57.746987,65.257222,62.746820,52.968885,0.274701,34.939609,1.000000,46.323740,73.971170
max,100.000000,100.000000,20.000000,20.000000,45.000000,100.000000,200.000000,120.000000,38.000000,13.915780,...,8.000000,100.000000,100.000000,100.000000,100.000000,0.300000,40.000000,1.000000,68.798330,178.004170